{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django Test</title>
        <link  href="{% static './materialize.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 class="center">Articles</h1>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <br>
        <a href="/admin">Admin</a>
    </body>
</html>